extends layout

block content
      
    .maincontent
        .formHold
          h1.itemtitle Edit this class
          
          each row in res1
            script.
              $(document).ready(function() {
              //$('#datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
              $("#datepicker").datepicker('setDate', "#{row.classDate.toISOString()}");
              });
            
            form(method = "post")
              fieldset
                label(for= "newname") Name:
                input(name= "newname", type = "text", value = row.className) 
                label(for= "newdate") Date:"#{row.classDate.toISOString()}"
                input(name= "newdate", type = "date",  id="datepicker")
                label(for= "newvenue") Venue:
                input(name= "newvenue", type = "text", value = row.classVenue) 
                label(for= "newtime") Time:
                input(name= "newtime", type = "time", value = row.classTime) 
                label(for= "newprice") Price:
                input(name= "newprice", type = "text", value = row.classPrice)
                label(for= "newcomments") Comments:
                input(name= "newcomments", type = "text", value = row.classComments) 
                label(for= "newlink") Link:
                input(name= "newlink", type = "url", value = row.Link) 
                button.button(type="submit") Update
                // script.
                //   $(document).ready(function() {
                //   $("#datepicker1").datepicker('setDate', row.classDate);
                //   });
                // script.
                //   if (10 == 10) {
                //   alert("working")
                //   }
                
               // className= "' + req.body.newname + '" 
               //, classDate = "' + req.body.newdate + '", 
               //classVenue = "' + req.body.newvenue + '", 
               //classTime = "' + req.body.newtime + '",
               //classPrice = "' + req.body.newprice + '", 
               //classComments = "' + req.body.newcomments + '", 
               //Link = "' + req.body.newlink +