extends layout
block content
      .maincontent
        .intro
          p
            
            

            p Welcome to my Dance Class Helper app
            | This is where you will find all the notes about the past classes you have attended.
            | Just login and browse to the classes
        .row
          .left
            h2 Up comming classes and workshops
            p
              | One of the main focus in the  in anatomy that comprises bones and muscles . Students are expected to learn the names, insertion, origin and action of the muscles .  One benefit of having a good understanding of how muscles work for instructors is to be able to instruct in a way that is not only safe but benefitial to their students bodies
          .right
            if req
              if req.user.userRole == "teacher" 
                p blabla teacher
              else
                p bla bla student
              
              
            else
              h2 Register/Login
              p If you are not a member yet you will be prompted to create a profile before you can book a class or workshop
              
        .conclusion
          h2 ATS bellydances classes in Cork and Online
          p
            | Group classes in the studio | one to one classes | online classes
