doctype html
html
  head
    title isabelle Bidou- Web Application Development - End of Year Project
    meta(charset='UTF-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='../app.css', type='text/css')
    script.

      $(window).resize(function(){location.reload();console.log("resized");}); 
      $(document).ready(function() {
      $("#menubutton").mousin(function() {
      $("#mobilemenu").show();
      });
      });
      $(document).ready(function() {
      $("#mobilemenu").hide();
      });
      $(document).ready(function() {
      $(".mobilemenuli,#menubutton").click(function(){
      $("#mobilemenu").slideToggle();
      });
      });
      

  body
    #container
      .header
        .imhold
          img#logo.logoimg(alt='logo', src='/logowhiteresized.png')
        h1.headertitle My Dance Classes Helper
        if isAuthenticated
              //p.username You're logged in as #{session.user.userFirstName} 
              
              //unless userRole == "student" 
              p.userrole  #{user.userRole}
        .navhold
          if isAuthenticated
            if user.userRole == "teacher"
              .topnav
                a(href='/') Home
                a(href='/classes') Classes
                a(href='/createclass') add Classes
                a(href='/steps') steps
                a(href='/addstep') add steps
                a(href='/students') Students
                a(href='/createuser') add Students
                a(href='/logout') Logout
            else
              .topnav
                a(href='/') Home
                a(href='/classes') Classes
                a(href='/steps') steps
                a(href='/cart') cart
                a(href='/logout') Logout
                
              
          else
            .topnav
                a(href='/') Home
                a(href='/login') Login
                a(href='/register') Register
                
            
      block content
      button#menubutton
      
        | menu
        #mobilemenu
        
          ul#mobilemenuul
            if req 
              if req.user.userRole == "teacher"
          
                li
                  a.mobilemenuli(href='/') Home
                li
                  a.mobilemenuli(href='/classes') Classes
                li
                  a.mobilemenuli(href='/createclass') add Class
                li
                  a.mobilemenuli(href='/students') Students
                li
                  a.mobilemenuli(href='/createuser') add Students
                li
                  a.mobilemenuli(href='/steps') Steps
                li
                  a.mobilemenuli(href='/addstep') Add Step
                li
                  a.mobilemenuli(href='/login') Login
                li
                  a.mobilemenuli(href='/register') Register
                li
                  a.mobilemenuli(href='/logout') Logout
              else

                li
                  a.mobilemenuli(href='/') Home
                li
                  a.mobilemenuli(href='/classes') Classes
                li
                  a.mobilemenuli(href='/steps') Steps
                li
                  a.mobilemenuli(href='/login') Login
                li
                  a.mobilemenuli(href='/register') Register
                li
                  a.mobilemenuli(href='/logout') Logout
            else

              li
                a.mobilemenuli(href='/') Home
              li
                a.mobilemenuli(href='/login') Login
              li
                a.mobilemenuli(href='/register') Register
              li
                a.mobilemenuli(href='/logout') Logout
        
     .footer
          p   Isabelle Bidou - copyright 2018
             